/*Estilos globales*/
*
{
  margin: 0;
  padding: 0;
  font-family: 'RobotoCondensed';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face
{
  font-family: 'RobotoCondensed';
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}

body
{
  background: #fafafa;
}

.fondo
{
  background: #c6c6c6;
}

/*Encabezado*/

header
{
  width: 100%;
  height: auto;
  background: #fff;
  position: fixed;
  z-index: 1;
}

.content img
{
  float: left;
  margin-left: 10%;
  margin-top: 10px;
  width: 300px;
  height: 60px;
}

/*Inicio slider de imágenes*/

.portada
{
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.portada img
{
  margin-top: 70px;
  margin: auto;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.portada ul
{
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite alternate;
  animation-timing-function: ease-in;
}

.portada li
{
  width: 100%;
  list-style: none;
}

@keyframes cambio
{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

/*Fin slider de imágenes*/

#check
{
  display: none;
}

.icon-menu
{
  display: none;
}

.menu ul
{
  display: flex;
  float: right;
  margin-top: 20px;
  margin-right: 10%;
}

.menu li
{
  list-style: none;
  padding: 15px;
}

.menu li:hover
{
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 300ms;
}

.menu a
{
  color: black;
  font-size: 18px;
}

.icon-home3, .icon-users, .icon-drawer, .icon-mail
{
  color: #424242;
  cursor: pointer;
}

#check:checked ~ .menu
{
  transform: translateX(0);
}

/*Contenedores página inicial*/

.titulo-principal
{
  width: 100%;
  text-align: center;
  padding: 30px;
  background: #c6c6c6;
}

.cajas
  {
	  overflow: hidden;
    display: flex;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

.caja1, .caja2, .caja3
  {
	  float: left;
    /*border: 1px solid;*/
    text-align: center;
    padding: 15px 50px;
  }

.contenido1, .contenido2, .contenido3
  {
	  margin: 15px;
    text-align: justify;
  }

.icon-search, .icon-briefcase, .icon-user-tie, .icon-stats-dots, .icon-books
  {
  	color: #120E44;
  	font-size: 48px;
    text-align: center;
  }

.icon-attachment, .icon-accessibility, .icon-user-tie
{
  color: #fff;
  font-size: 48px;
  background: #120E44;
}

/*Segundo contenido*/

.section2
{
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.contenedor
{
  width: auto;
  margin: 0 auto;
  border: 1px solid;
}

.contenido1
{
  background: red;
  overflow: hidden;
  width: auto;
  border: 1px solid red;
}

.imagen
{
  background: #120E44;
  float: left;
}

/*Pie de página*/

footer
{
  width: 100%;
}

.footer-container
{
  width: 100%;
  background: #272727;
  color: #fff;
}

.footer-main
{
  width: 98%;
  max-width: 1200px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-main .footer-column
{
  width: calc(100% / 3);
  text-align: justify;
  /*border: 1px solid green;*/
}

.footer-main .footer-column:nth-child(3)
{
  padding: 0 20px;
}

.footer-main .footer-column:nth-child(2)
{
  padding: 0 20px;
}

.footer-main .footer-column:nth-child(1)
{
  padding: 0 20px;
}

.footer-main .footer-column h3
{
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.footer-main .footer-column p
{
  display: block;
  margin-left: 5px;
  margin-bottom: 15px;
}

.footer-column li
{
  list-style-type: disc;
}

.footer-copy-redes
{
  width: 100%;
  background: #000;
  border-top: 3px solid #fff;
}

.main-copy-redes
{
  width: 98%;
  max-width: 1000px;
  padding: 15px; 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-copy-redes .footer-copy
{
  width: 70%;
  color: #fff;
}

.main-copy-redes .footer-redes
{
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-copy-redes .footer-redes a
{
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  text-align: center;
}

.izquierda
{
  text-align: left;
}

.footer-column
{
  text-align: center;
}

/*Nosotros*/

.banner
{
  background: #272727;
  width: 100%;
  height: 200px;
  padding-top: 110px;
  margin: auto;
  text-align: center;
}

.franja
{
  width: auto;
  height: 40px;
  color: #fff;
  line-height: 40px;
  font-size: 40px;
  position: static;
  padding: auto;
  display: inline-flex;
  overflow: hidden;
}

.franja ul
{
  list-style: none;
  padding-left: 10px;
  animation: cambiar 7s infinite;
}

.franja ul p
{
  margin: 0;
}

@keyframes cambiar
{
  0%{ margin-top: 0;}
  20%{ margin-top: 0;}

  25%{ margin-top: -40px;}
  50%{ margin-top: -40px;}

  55%{ margin-top: -80px;}
  80%{ margin-top: -80px;}

  85%{ margin-top: -40px;}
  95%{ margin-top: -40px;}

  100%{ margin-top: 0;}
}

.contenidos .bloque1 .bloque2
{
  width: calc(100%/2);
}

.contenidos
{
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
}

.bloque1
{
  margin-left: 40px;
  margin-right: 20px;
  float: left;
  width: 100%;
}

.bloque2
{
  margin-left: 20px;
  margin-right: 40px;
  float: left;
  width: 100%;
}

.bloque1 img
{
  width: 100%;
  height: 300px;
  object-fit: cover;
  padding-bottom: 40px;
}

.content-mision-vision
{
  padding: 40px;
}

.bloque3
{
  background: #c6c6c6;
  text-align: center;
  padding: 40px;
}

.bloque4
{
  text-align: center;
  padding: 40px;
  background: #fff;
}

.bloque5
{
  padding: 40px;
  background: #c6c6c6;
}


.tituloclientes
{
  text-align: center;
}

.clientes
{
  height: 80vh;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}

.item
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6c6c6;
  color: white;
}

.clientes img
{
  height: 100px;
}


/*SERVICIOS*/

.contenido-servicios
{
  padding-top: 115px;
  background: #272727;
  color: #fff;
  width: 100%;
  height: 200px;
  text-align: center;
}

.contenido-servicios h1
{
  font-size: 34px;
}

.contenido-servicios-generales .conte1 .servicios1
{
  width: calc(100%/2);
}

.contenido-servicios-generales1
{
  display: inline-flex;
  padding-top: 20px;
  background: #f1f1f1;
}

.conte1
{
  /*border: 1px solid blue;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.conte1 img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.servicios1
{
  /*border: 1px solid red;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.servicios1 li
{
  list-style: none;
}

.contenido-servicios-generales1 .conte2 .servicios2
{
  width: calc(100%/2);
}

.conte2 img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.contenido-servicios-generales
{
  display: flex;
  padding-top: 20px;
  background: #c6c6c6;
}

.conte2
{
  /*border: 1px solid blue;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.servicios2
{
  /*border: 1px solid red;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.servicios2 li
{
  list-style: none;
}

.contenido-servicios-generales .conte1 .servicios1
{
  width: calc(100%/2);
}

.contenido-servicios-generales2
{
  display: flex;
  padding-top: 20px;
  background: #c6c6c6;
}

.conte3
{
  /*border: 1px solid blue;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.conte3 img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.servicios3
{
  /*border: 1px solid red;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.servicios3 li
{
  list-style: none;
}

.contenido-servicios-generales3 .conte4 .servicios4
{
  width: calc(100%/2);
}

.contenido-servicios-generales3
{
  display: flex;
  padding-top: 20px;
  background: #f1f1f1;
}

.conte4
{
  /*border: 1px solid blue;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.conte4 img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.servicios4
{
  /*border: 1px solid red;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.servicios4 li
{
  list-style: none;
}

.contenido-servicios-generales4 .conte5 .servicios5
{
  width: calc(100%/2);
}

.conte5 img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.contenido-servicios-generales4
{
  display: flex;
  padding-top: 20px;
  background: #c6c6c6;
}

.conte5
{
  /*border: 1px solid blue;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.servicios5
{
  /*border: 1px solid red;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.contenido-servicios-generales5 .conte6 .servicios6
{
  width: calc(100%/2);
}

.conte6 img
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.contenido-servicios-generales5
{
  display: flex;
  padding-top: 20px;
  background: #f1f1f1;
}

.conte6
{
  /*border: 1px solid blue;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.servicios6
{
  /*border: 1px solid red;*/
  float: left;
  width: 100%;
  padding: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

/*CONTACTO*/

.mapa
{
  background: #fefefe;
  padding: 20px;
  margin: 0;
}

.wap{
	width: 90%;
	margin: auto;
	clear: both;
}

.bienvenidos
{
	margin-top: 50px;
	text-align: center;
}

.bienvenidos h1, h2, h4
{
	text-transform: uppercase;
	color: #444;
	letter-spacing: 1px;
}

.bienvenidos h2
{
	font-size: 26px;
	color: #333;
}

.bienvenidos h3
{
	font-size: 20px;
	line-height: 1.5;
	padding-top:20px;
	font-weight: normal;
	color: #777;
}

.bienvenidos h4
{
	margin-top: 15px;
	font-size: 16px;
}

/*form
{
  width: 500px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 9px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

input, textarea
{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 7px;
  font-size: 17px;
  border: none;
}

textarea
{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton
{
  background: #31384A;
  color: #fff;
  padding: 20px;
}

#boton:hover
{
  cursor: pointer;
}*/

input, textarea
{
  border: 0;
  outline: 0;
  font-size: 1rem;
  background: transparent;
  color: white;
  position: relative;
}

textarea
{
  resize: none;
}

.content1
{
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  background: #272727;
  color: white;
}

.content1 .title
{
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.form
{
  max-width: 600px;
  margin: 0 auto;
  background: rgba(39, 39, 39);
  border-radius: 2px;
}

.form-container
{
  display: flex;
  flex-wrap: wrap;
}

.form-item
{
  position: relative;
  width: 100%;
  padding: 1em;
}

@media only screen and (min-width: 600px)
{
  .form-item.col-5
  {
    width: 50%;
  }
}

.form-item .textarea
{
  height: 10em;
}

.form-item .input, .form-item .textarea
{
  display: block;
  padding: 1em;
  width: 100%;
  transition: all .3s;
  border-bottom: 2px solid #00B7FF;
}

.form-item .input:focus, .form-item .textarea:focus
{
  border-bottom: 2px solid #828282;
}

.form-item .input:valid + .label, .form-item .input:focus + .label, .form-item .textarea:valid + .label, .form-item .textarea:focus + .label
{
  top: 1em;
  left: 1em;
  font-size: .9em;
}

.form-item .input:valid, .form-item .textarea:valid
{
  border-bottom: 2px solid #334dff;
}

.form-item .label
{
  position: absolute;
  top: 2em;
  left: 2em;
  text-transform: capitalize;
  transition: all .3s;
  z-index: 0;
}

.form-item .btn-enviar
{
  display: block;
  width: 100%;
  padding: 1em 0;
  box-shadow: 0 0 0 2px #00B7FF;
  color: #00B7FF;
  cursor: pointer;
  transition: all .3s;
}

.form-item .btn-enviar:hover
{
  background: #00B7FF;
  color: white;
  box-shadow: 0 0 0 0 transparent;
}

.form-item .btn-enviar:active
{
  background: #0f2dff;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

@media screen and (max-width:1200px)
{
  .menu
  {
    width: 100%;
    height: 40vh;
    position: absolute;
    top: 70px;
    transform: translateX(100%);
    transition: all 300ms;
  }

  .menu ul
  {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    top: -40px;
    background: #120E44;
  }

  .menu li a
  {
    color: #fff;
    top: 80px;
  }

  .content img
  {
    float: left;
    margin-left: 10%;
    margin-top: 10px;
    width: 200px;
    height: 40px;
  }

  .portada img
  {
    margin-top: 70px;
    margin: auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .icon-menu
  {
    display: block;
    float: right;
    padding: 10px;
    font-size: 24px;
  }

  .icon-menu:hover
  {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 300ms;
    color: #120E44;
  }

  .icon-home3, .icon-users, .icon-drawer, .icon-mail
  {
    color: white;
  }

  .icon-search, .icon-briefcase, .icon-books
  {
	  color: #120E44;
	  font-size: 48px;
  }

  /*Contenedores página inicial*/

  .cajas
  {
    line-height: normal;
  	text-align: center;
  	width: 100%;
    display: grid;
  }

  .caja1, .caja2, .caja3
  {
    margin-top: 5px;
  }

  .contenido1, .contenido2, .contenido3
  {
    text-align: left;
  }

  h2
  {
    font-size: 16px;
    color: black;
  }

  /*NOSOTROS*/

  .contenidos
  {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
  }

  .bloque1
  {
    float: left;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }

  .bloque1 img
  {
    object-fit: cover;
  }

  .bloque2
  {
    width: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .bloque2 h1
  {
    text-align: center;
  }

  .bloque1 img
  {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding-bottom: 40px;
  }

  .banner
  {
    background: #272727;
    width: 100%;
    height: 200px;
    padding-top: 110px;
    margin: auto;
    text-align: center;
  }

  .franja
  {
    width: auto;
    height: 30px;
    color: #fff;
    line-height: 30px;
    font-size: 30px;
    position: static;
    padding: auto;
    display: inline-flex;
    overflow: hidden;
  }

  @keyframes cambiar
  {
    0%{ margin-top: 0;}
    20%{ margin-top: 0;}

    25%{ margin-top: -30px;}
    50%{ margin-top: -30px;}

    55%{ margin-top: -60px;}
    80%{ margin-top: -60px;}

    85%{ margin-top: -30px;}
    95%{ margin-top: -30px;}

    100%{ margin-top: 0;}
  }

  .clientes img
  {
    height: 100px;
    width: 100px;
  }

  /*SERVICIOS*/

  .contenido-servicios h1
  {
    font-size: 20px;
  }

  .contenido-servicios
  {
    background: #272727;
    width: 100%;
    height: 200px;
    padding-top: 110px;
    margin: auto;
    text-align: center;
  }

  .contenido-servicios-generales
  {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
  }

  .conte1
  {
    float: left;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }

  .conte1 img
  {
    object-fit: cover;
  }

  .servicios1
  {
    width: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .contenido-servicios-generales1
  {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
  }

  .conte2
  {
    float: left;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }

  .conte2 img
  {
    object-fit: cover;
  }

  .servicios2
  {
    width: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .contenido-servicios-generales2
  {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
  }

  .conte3
  {
    float: left;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }

  .conte3 img
  {
    object-fit: cover;
  }

  .servicios3
  {
    width: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .contenido-servicios-generales3
  {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
  }

  .conte4
  {
    float: left;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }

  .conte4 img
  {
    object-fit: cover;
  }

  .servicios4
  {
    width: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .contenido-servicios-generales4
  {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
  }

  .conte5
  {
    float: left;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }

  .conte5 img
  {
    object-fit: cover;
  }

  .servicios5
  {
    width: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  .contenido-servicios-generales5
  {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
  }

  .conte6
  {
    float: left;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }

  .conte6 img
  {
    object-fit: cover;
  }

  .servicios6
  {
    width: auto;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }

  @media screen and (max-width: 750px)
  {
    .footer-main .footer-column
    {
      padding: 0 10px;
    }

    .footer-main .footer-column h3
    {
      font-size: 28px;
    }

    .footer-main .footer-column p
    {
      font-size: 14px;
    }

    /*NOSOTROS*/

    .clientes
    {
      height: 80vh;
      display: grid;
      grid-row-gap: 10px;
      grid-column-gap:30px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-auto-rows: 1fr;
    }

    @media screen and (max-width: 640px)
    {
      .footer-main
      {
        padding: 10px 0px;
      }

      .footer-main .footer-column
      {
        width: 100%;
        text-align: center;
        margin: 10px 0px;
      }

      .footer-main .footer-column h3
      {
        margin-bottom: 5px;
      }

      .footer-main .footer-column span
      {
        display: block;
      }

      .main-copy-redes .footer-copy
      {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }

      .main-copy-redes .footer-redes
      {
        width: 80%;
        margin: auto;
      }
    }

    @media (max-width:480px)
    {
      form
      {
        width: 100%;
      }
    }

    /*NOSOTROS*/

    .banner
    {
      background: #272727;
      width: 100%;
      height: 200px;
      padding-top: 110px;
      margin: auto;
      text-align: center;
    }

    .franja
    {
      width: auto;
      height: 20px;
      color: #fff;
      line-height: 20px;
      font-size: 20px;
      position: static;
      padding: auto;
      display: inline-flex;
      overflow: hidden;
    }

    @keyframes cambiar
    {
      0%{ margin-top: 0;}
      20%{ margin-top: 0;}

      25%{ margin-top: -20px;}
      50%{ margin-top: -20px;}

      55%{ margin-top: -40px;}
      80%{ margin-top: -40px;}

      85%{ margin-top: -20px;}
      95%{ margin-top: -20px;}

      100%{ margin-top: 0;}
    }

    .clientes
    {
      height: 100vh;
      display: grid;
      grid-row-gap: 10px;
      grid-column-gap:30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-auto-rows: 1fr;
    }

    .footer-column-centro2
    {
      text-align: center;
      padding: 0 40px;
    }

    .footer-column-centro1
    {
      text-align: center;
      padding: 0 40px;
    }
  }
}
